html {
    font-family: Arial, serif
}

h1 {
    font-size: 2.5em;
    color: #485F6E;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

nav a:visited, nav a:link {
    background-color: chocolate;
    color: white;
    padding: 1em 1.75em;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

nav a:hover, a:active {
    background-color: coral;
}

blockquote {
    padding-right: 15%;
    padding-left: 5%;
}

blockquote p:first-child {
    color: firebrick;
}

blockquote p:last-child {
    text-align: right;
}

main {
    margin: 10%;
}

footer {
    text-align: center;
}

article p, aside p {
    display: inline-block;
    padding: 0.3em;
    border-radius: 5px
}

.NOUN {
    background-color: darksalmon;
}

.PROPN {
    background-color: cornflowerblue;
}

.VERB {
    background-color: forestgreen;
}

.ADJ {
    background-color: lavender;
}

main form {
    text-align: center;
}

button {
    display: inline-block;
}

.wrapper {
    text-align: center;
}