<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet IDL — Bullshit Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bullshit Generator</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/gen">Generator</a></li>
            <li><a href="/parser">Parser</a></li>
            <li><a href="/about">À propos</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>Cette application a été réalisé par Lucas Tournière et Clément Vétillard.</p>
    </footer>
</body>
</html>