{% extends "basic.html" %}

{% block main %}
    <h2>Bienvenue dans notre <i title="Générateur de conneries !">Bullshit Generator</i> !</h2>
    <p>Le site possède deux outils que vous retrouverez dans le menu.</p>
    <p>Le premier, <i><a href="/gen">Generator</a></i>, permet de générer une phrase en fonction d'un thème, d'une
        longueur de phrase et également du nombre de phrase.</p>
    <p>Exemple de phrase générée :</p>
    <blockquote>
        <p>il est temps de découvrir l'identité du délateur qui a balancé le célèbre comédien aux officines antisémites
        de la iiième république</p>
        <p><i>~ Bullshit Generator, 2019</i></p>
    </blockquote>
    <p>Le deuxième outil, <i><a href="/parser">Parser</a></i>, permet de récupérer un fichier pour visualiser les
    informations de ce dernier. L'outil affiche les <i title="étiquettes morpho-syntaxiques">POS-Tags</i> (pour
    <i>Part-Of-Speach Tags)</i>.</p>
{% endblock %}